.game {
  position: relative;
  margin: 30px 30px;
}

.car,
.road,
.path,
.shortest-path,
.target {
  /* transition: all 0ms; */
  /* transition-timing-function: linear; */
  position: absolute;
  display: block;
  /* border-right: 1px solid #bbb; */
  /* border-bottom: 1px solid #bbb; */
  box-sizing: border-box;
  /* transform: translate(-50%, -50%); */
}

@keyframes start {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(6);
  }

  100% {
    transform: translate(-50%, -50%) scale(2);
  }
}

.shortest-path {
  transform: scale(1.5);
}

.car,
.target,
.path {
  transform: scale(3);
  border-radius: 50%;
  /* animation-name: start;
  animation-delay: 1s;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.road-label,
.car-label {
  color: #fff;
  mix-blend-mode: exclusion;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: inline-block;
  line-height: 27px;
}

.car-label {
  color: black;
  mix-blend-mode: normal;
  line-height: 28px;
}
