.game {
  position: relative;
  margin: 60px 40px;
}

.car,
.road {
  transition: all 200ms;
  transition-timing-function: linear;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}



